sudo: required
language: python
python:
  - "3.5"
  - "3.6"
  #- "3.7-dev"  # 3.7 development branch
# command to install dependencies
before_install:
  - sudo apt-get install libgit2-dev -y
install:
  - pip --no-cache-dir install -r requirements.txt
  - pip --no-cache-dir install -r requirements.test.txt
  - pip --no-cache-dir install -r requirements.build.txt
# command to run tests
script: "python setup.py travis"
